@font-face {
  font-family: 'Mandali';
  font-style: normal;
  src: url('Mandali-Regular.ttf');
}
@font-face {
  font-family: 'Krushnadevaraya';
  font-style: italic;
  src: url('Sree_Krushnadevaraya.ttf');
}
body {
	font-family: "Mandali", sans-serif; 	
	font-size: 1em;
	box-sizing: border-box;
	-epub-hyphens:auto;
}
.maintext section {
	margin-bottom: 2em;
}
.maintext section.level2:not(:first-of-type){
	page-break-before: always;
}
.maintext h1.level1-title {
	text-align: center;
	font-size: 2em;
	color: #283593;
	font-weight: normal;
	line-height: 1.2em;
    background: #fff url(pattern.png) center center;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-top: 40px;
    padding-bottom: 40px;
}
.maintext h2.level2-title {
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 0;
}
.maintext h2.article-author {
	font-size: 1.5em;
	text-align: right;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0;
}
.maintext h3.level3-title {
	font-size: 1.25em;
	font-weight: normal;
	margin-bottom: 0;
}
.maintext h4.level4-title {
	font-size: 1.125em;
	margin-bottom: 0;
}
.maintext h5.level5-title {
	font-size: 1em;
	margin-bottom: 0;
}
.maintext h5.para-title {
	font-size: 1em;
	margin-bottom: 0;
}
.maintext h5.para-title+p {
	margin-top: 0;
}
.maintext p{
	text-indent: 2.5em;
	orphans: 1;
	widows: 1;
	text-align: justify;
	-epub-text-align-last:left;
	-epub-line-break:normal;
}
.maintext p.no-indent{
	text-indent: 0em !important;
}
.maintext .img-center{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.maintext h1.level1-title,
.maintext h2.level2-title,
.maintext h3.level3-title,
.maintext h4.level4-title,
.maintext h5.level5-title,
.maintext h5.para-title{
	page-break-after: avoid;
	/*font-family: "Krushnadevaraya", sans-serif !important;*/
	-epub-hyphens:none;
	orphans:1;
	widows:1;
}
.maintext h1.level1-title+p,
.maintext h2.level2-title+p,
.maintext h3.level3-title+p,
.maintext h4.level4-title+p,
.maintext h5.level5-title+p,
.maintext h5.para-title+p {
	page-break-before: avoid;
}
.maintext section.level3 p:first-of-type,
.maintext section.level4 p:first-of-type,
.maintext section.level5 p:first-of-type{
	margin-top: 0;
} 
.maintext ol,
.maintext ul {
	padding-left: 1.75em;
}
.maintext ol.upper-alpha {
	list-style-type: upper-alpha;
}
.maintext ol.lower-alpha {
	list-style-type: lower-alpha;
}
.maintext .myquote, .maintext .verse {
	margin: 0.5em 0 0.5em 1.5em;
	text-indent: 0em !important;
}
.maintext ul p,
.maintext ol p {
	text-indent: 0em !important;	
}
.maintext a{
	color: #283593;
}
.maintext h1.level1-title span {
	display: block;
	margin-bottom: 0.5em;
}
.maintext h1.level1-title span:first-of-type {
	font-style: italic;
}
.maintext h3.level3-title+p {
	margin-top: 0.5em;
}
.maintext h2.article-author:before,
.maintext span.quote-author:before,
.maintext p.quote-author:before {
	content: '–';
}
.maintext .part-title{
	margin-top: 4em;
	text-align: center;
}
.maintext span.quote-author,
.maintext p.quote-author,
.maintext span.verse-num,
.maintext p.verse-num,
.maintext span.verse-author,
.maintext p.verse-author {
	display: block;
	text-align: right;
	page-break-before: avoid;
}
.maintext ul.hangindent {
	list-style-type: none;
	margin-left: 1.25em;
	padding-left: 0.75em;
	text-indent: -1.25em;
}
.maintext ul.hangindent li {
	margin-bottom: 0.25em;
}
.maintext .hide,
.maintext .index,
.titlepage .hide,
.hide {
	display: none;
}
.maintext span.italic {
	font-style: italic;
}
.maintext span.ref a{
	text-decoration: none;
	padding: 0 0.125em;
}
.maintext .text-center {
	text-align: center;
	-epub-text-align-last: center !important;
}
.maintext img.logo,
.titlepage img.logo{
	width: 33%;
	max-width: 100px;
}
.maintext img{
	text-align: center;
} 
.maintext .vertical-delimiter {
	margin: 1em 0;
	text-align: center;	
	background: #fff url(vertical-delimiter.png) center center;
	background-repeat: no-repeat;
	background-position: center bottom;
	padding-bottom: 60px;
}
.maintext .vertical-delimiter:after {
	/*content: '***';*/
}
.titlepage{
	text-align: center;
}
.titlepage .title{
	font-size: 2em;
	color: #283593;
}
.titlepage .author, 
.titlepage .titleauthor{
	font-size: 1.5em;
}
.titlepage .publisher{
	font-size: 1.25em;
}
.maintext table.custom-striped{
	margin-bottom: 2em;
	border-collapse: collapse;
	page-break-inside: avoid;
}
.maintext table.custom-striped tr td{	
	min-width: 36px;
	border: 1px solid #CCC;
	text-align: center;
	line-height: 2em;
}
.maintext table.custom-striped tr td:nth-child(even){
	background: #F0F0F0;
}
.maintext small, .titlepage small {
	font-size: 0.65em;
}
.maintext .footnote-head{
	font-size: 2em;
	color: #283593;
	font-weight: normal;
	line-height: 1.2em;
}
.myquote, .verse, .text-center, .vertical-delimiter, .text-left, .text-right {
	text-indent: 0em !important;
}
.text-left{
	text-align: left !important;
}
.text-right {
	text-align: right !important;
	-epub-text-align-last: right !important;
}
