@font-face {
	font-family:"Adobe Garamond Pro";
	font-style:normal;
	font-weight:normal;
	src : url("AGaramondPro-Regular.otf");
}
@font-face {
	font-family:Georgia;
	font-style:normal;
	font-weight:normal;
	src : url("Georgia.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:normal;
	font-weight:bold;
	src : url("Georgia-Bold.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:italic;
	font-weight:normal;
	src : url("Georgia-Italic.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:oblique;
	font-weight:normal;
	src : url("Georgia-Italic.ttf");
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:none;
	border-width:1px;
}
table {
	border-collapse:none;
}
li {
	display:default;
}
body {
	-epub-hyphens:auto;
	-webkit-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
table.Basic-Table {
	border-color:#000000;
	border-style:none;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
.maintext section {
	margin-bottom: 2em;
}
.maintext section.level2:not(:first-of-type){
	page-break-before: always;
}
.maintext h1.level1-title {
	break-before:page;
	color:#000000;
	font-family:Georgia, serif;
	font-size:1.667em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:25px;
	margin-left:0px;
	margin-right:0px;
	margin-top:7%;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
.maintext h2.level2-title {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Georgia, serif;
	font-size:1.167em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:4px;
	margin-left:0px;
	margin-right:0px;
	margin-top:18px;
	margin-bottom:8px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
.maintext h2.article-author {
	font-size: 1.5em;
	text-align: right;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0;
}
.maintext h3.level3-title {
	font-size: 1.25em;
	font-weight: normal;
	margin-bottom: 0;
}
.maintext h4.level4-title {
	font-size: 1.125em;
	margin-bottom: 0;
}
.maintext h5.level5-title {
	font-size: 1em;
	margin-bottom: 0;
}
.maintext h5.para-title {
	font-size: 1em;
	margin-bottom: 0;
}
.maintext p {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family:Georgia, serif;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:4px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:5px;
	text-align:justify;
	text-decoration:none;
	text-indent:10px;
	orphans:2;
	widows:2;
}
.maintext p .no-indent{
	text-indent:0px !important;
	orphans:2;
	widows:2;
}
.maintext h5.para-title+p {
	margin-top: 0;
}
.maintext h1.level1-title,
.maintext h2.level2-title,
.maintext h3.level3-title,
.maintext h4.level4-title,
.maintext h5.level5-title,
.maintext h5.para-title{
	page-break-after: avoid;
}
.maintext h1.level1-title+p,
.maintext h2.level2-title+p,
.maintext h3.level3-title+p,
.maintext h4.level4-title+p,
.maintext h5.level5-title+p,
.maintext h5.para-title+p {
	page-break-before: avoid;
}
.maintext section.level3 p:first-of-type,
.maintext section.level4 p:first-of-type,
.maintext section.level5 p:first-of-type{
	margin-top: 0;
} 
.maintext ol,
.maintext ul {
	padding-left: 1.75em;
}
.maintext ol.upper-alpha {
	list-style-type: upper-alpha;
}
.maintext ol.lower-alpha {
	list-style-type: lower-alpha;
}
.maintext ul.bullet {
	list-style-type: disc;
}
.maintext ol.num {
		list-style-type: upper-greek;
}
.maintext .myquote, .maintext .verse {
	margin: 0.5em 0 0.5em 1.5em;
}
.maintext a{
	color: #0277BD;
}
.maintext h1.level1-title span {
	display: block;
	margin-bottom: 0.5em;
}
.maintext h1.level1-title span:first-of-type {
	font-style: italic;
}
.maintext h3.level3-title+p {
	margin-top: 0.5em;
}
.maintext h2.article-author:before,
.maintext span.quote-author:before,
.maintext p.quote-author:before {
	content: '–';
}
.maintext .part-title{
	margin-top: 4em;
	text-align: center;
}
.maintext .big-letter{
	font-size: 2em;
	font-style: bold;
}
.maintext span.quote-author,
.maintext p.quote-author,
.maintext span.verse-num,
.maintext p.verse-num,
.maintext span.verse-author,
.maintext p.verse-author {
	display: block;
	text-align: right;
	page-break-before: avoid;
}
.maintext ul.hangindent {
	list-style-type: none;
	margin-left: 1.25em;
	padding-left: 0.75em;
	text-indent: -1.25em;
}
.maintext ul.hangindent li {
	margin-bottom: 0.25em;
}
.maintext .hide,
.maintext .index,
.titlepage .hide,
.hide {
	display: none;
}
.maintext span.italic {
	font-style: italic;
}
.maintext span.ref a{
	text-decoration: none;
	padding: 0 0.125em;
}
.maintext .text-right {
	text-align: right;
}
.maintext .noindent {
	text-indent:0px;
}
.maintext .text-center {
	text-align: center;
}
.maintext img.logo,
.titlepage img.logo{
	width: 33%;
	max-width: 100px;
}
.maintext img{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.maintext figure{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.maintext .img-center{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.img-center{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.maintext .img-right{
	display: block;
	margin: 0 auto;
	float: right;
}
.maintext .vertical-delimiter {
	margin: 1em 0;
	text-align: center;	
}
.maintext .vertical-delimiter:after {
	content: '***';
}
.titlepage{
	text-align: center;
}
.titlepage .title{
	font-size: 2em;
	color: #0277BD;
}
.titlepage .author, 
.titlepage .titleauthor{
	font-size: 1.5em;
}
.titlepage .publisher{
	font-size: 1.25em;
}
.maintext table.custom-striped{
	margin-bottom: 2em;
	border-collapse: collapse;
	page-break-inside: avoid;
}
.maintext table.custom-striped tr td{	
	min-width: 36px;
	border: 1px solid #CCC;
	text-align: center;
	line-height: 2em;
}
.maintext table.custom-striped tr td:nth-child(even){
	background: #F0F0F0;
}
table {
	border-collapse:none;
}
.maintext small, .titlepage small {
	font-size: 0.65em;
}
.maintext .footnote-head{
	font-size: 2em;
	color: #0277BD;
	font-weight: normal;
	line-height: 1.2em;
}
